@model IEnumerable<SummerBootCampTask2.Models.ConfirmRequestViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var request in Model)
            {
                <div>
                    <h4>Request from @request.UserName</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Invitation" asp-action="Confirm" asp-route-id="@request.Id">Confirm</a>
                </div>
            }

<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
